// navbar to return to home
nav.navbar.sticky-top.navbar-light(style="position: fixed;  top: 0;  width: 100%;")
    .container-fluid
        a.navbar-brand.ml-auto(href='/') 
            img(src="home.png", alt="home", width=50, height=50, style="background-color: white; border-radius: 5px;")