footer.ftco-footer
        .container
            .row.mb-5.justify-content-between
                .col-sm-12.col-md-4
                    .ftco-footer-widget.mb-4
                        h2.ftco-heading-2.logo
                            a(href='#') Emmanuel Ashitey
                        p Far far away, behind the word mountains, far from the countries.
                        ul.ftco-footer-social.list-unstyled.mt-2
                            li.ftco-animate
                                a(href='#')
                                    span.fa.fa-twitter
                            li.ftco-animate
                                a(href='#')
                                    span.fa.fa-facebook
                            li.ftco-animate
                                a(href='#')
                                    span.fa.fa-instagram
                .col-sm-12.col-md-2
                    .ftco-footer-widget.mb-4.ml-md-4
                        h2.ftco-heading-2 Info
                        ul.list-unstyled
                            li
                                a(href='/')
                                    span.fa.fa-chevron-right.mr-2 
                                    | Home
                .col-sm-12.col-md-4
                    .ftco-footer-widget.mb-4
                        h2.ftco-heading-2 Have a Questions?
                        .block-23.mb-3
                            ul
                                li
                                    span.icon.fa.fa-map.marker
                                    span.text 203 Fake St. Mountain View, San Francisco, California, USA
                                li
                                    a(href='#')
                                        span.icon.fa.fa-phone
                                        span.text +2 392 3929 210
                                li
                                    a(href='#')
                                        span.icon.fa.fa-paper-plane.pr-4
                                        span.text
                                            span.__cf_email__(data-cfemail='8ae3e4ece5caf3e5fff8eee5e7ebe3e4a4e9e5e7') [email&nbsp;protected]
        .container-fluid.px-0.py-5.bg-black
            .container
                .row
                    .col-md-12
                        p.mb-0(style='color: rgba(255,255,255,.5);')
                            script(data-cfasync='false', src='https://preview.colorlib.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')
                            span.copyright &copy;     EAshitey               
                                script.
                                    var CurrentYear = new Date().getFullYear()
                                    document.write(CurrentYear)
                            //- i.fa.fa-heart.color-danger(aria-hidden='true')
                            //- a(href='https://colorlib.com/', target='_blank', rel='nofollow noopener') Colorlib