doctype html
link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
link#bootstrap-css(href='error.css', rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
.container
    .error-wrapper
        .man-icon
        h3.title 404
        p.info Oh! Page not found
        a(href="/") 
            button.home-btn(type='button') HOME